[user]
	email = t.t.j.bloemen@student.tudelft.nl
	name = Ties Bloemen
	signingKey = ""
[gpg]
	format = openpgp
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
