wallpapers/**/*.png filter=lfs diff=lfs merge=lfs -text
wallpapers/**/*.heic filter=lfs diff=lfs merge=lfs -text
wallpapers/**/*.jpg filter=lfs diff=lfs merge=lfs -text
wallpapers/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
